In [1]:
class MeraLR:
    
    def __init__(self):
        self.m = None
        self.b = None
        
    def fit(self,X_train,y_train):
        
        num = 0
        den = 0
        
        for i in range(X_train.shape[0]):
            
            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
        
        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b)       
    
    def predict(self,X_test):
        
        # print(X_test)
        
        return self.m * X_test + self.b

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('/Users/parikhandelwal/Downloads/archive/services_weekly.csv')

In [5]:
df

,week,month,service,available_beds,patients_request,patients_admitted,patients_refused,patient_satisfaction,staff_morale,event
0,1,1,emergency,32,76,32,44,67,70,none
1,1,1,surgery,45,130,45,85,83,78,flu
2,1,1,general_medicine,37,201,37,164,97,43,flu
3,1,1,ICU,22,31,22,9,84,91,flu
4,2,1,emergency,28,169,28,141,75,64,none
...,...,...,...,...,...,...,...,...,...,...
203,51,12,ICU,18,15,15,0,87,80,none
204,52,12,emergency,26,130,26,104,88,63,none
205,52,12,surgery,53,39,39,0,82,50,none
206,52,12,general_medicine,65,225,65,160,82,40,flu
207,52,12,ICU,22,24,22,2,80,96,none

In [8]:
X = df.iloc[:,4].values
y = df.iloc[:,-2].values

In [9]:
print(X)

[ 76 130 201  31 169  26 183   7 177  66  58  21 157  57 152  21 388  70
 103  13 198  58  90  12 127  46  80  47 240  20 105  10 113  41  78  20
 130  57  64   8  97  48  50  17 347  24  69  13 142  54  72  12  97  49
  47  16  53 124 179  11 144  28  41  15 133  23  76  17 100  36  25   9
  70  44  60  17  45  39  70  14  95  44  70   9 129  21  36   6  54  43
  81  12 105  21  66   9  48  39  51   6  96  30  72   8  67  24  61  10
  69  28  36   8  92  31  62  15  85  15  47   7  48  24  60  12  89  25
  59  15  54  30  98  13  31  42  56   7  81  45  40   5 115  53  54   5
 110  39  48  20  71  48  78  18  67  49  59  15  57  36 107  15  92  49
  70  20  99  67 114  12 171  33  49  12 138  28  70  16 193  37  67  42
 187  39  29  28  91  48  92  16 165  32 105  23 137  29  63  22 101  65
  57  13 123  48 285  15 130  39 225  24]

In [10]:
print(y)

[70 78 43 91 64 56 93 85 58 72 63 89 75 94 66 85 72 83 52 88 76 81 81 51
 77 60 98 83 75 61 88 98 86 93 60 73 60 55 68 56 72 80 75 50 83 73 98 94
 95 90 70 52 71 87 76 54 98 76 76 52 89 31 66 78 73 94 63 83 80 98 62 55
 45 66 86 61 81 94 71 65 63 67 82 54 68 65 88 82 50 61 77 83 78 39 97 73
 72 98 62 90 63 54 85 63 78 59 95 51 66 74 68 59 99 57 52 82 94 66 96 65
 81 86 57 86 58 97 67 51 56 75 98 50 60 86 63 53 77 52 79 64 88 99 83 64
 54 66 55 65 53 81 70 70 95 58 72 50 43 51 52 84 88 93 53 96 89 75 86 55
 79 89 77 87 60 75 69 87 92 72 51 54 93 83 58 75 54 57 82 82 89 52 96 76
 86 51 87 64 61 85 60 57 75 82 89 80 63 50 40 96]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [12]:
X_train.shape

(166,)

In [13]:
lr = MeraLR()

In [14]:
lr.fit(X_train,y_train)

0.02468726383909866
71.16491101888255

In [15]:
X_train.shape[0]

166

In [16]:
X_train[0]

np.int64(31)

In [17]:
X_train.mean()

np.float64(61.644578313253014)

In [18]:
X_test[0]

np.int64(59)

In [19]:
print(lr.predict(X_test[0]))

72.62145958538937