In [1]:
import pandas as pd

In [4]:
df=pd.read_json('/Users/parikhandelwal/Downloads/train.json',encoding='unicode_escape')

In [5]:
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 39774 entries, 0 to 39773
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           39774 non-null  int64
 1   cuisine      39774 non-null  str
 2   ingredients  39774 non-null  object
dtypes: int64(1), object(1), str(1)
memory usage: 932.3+ KB

In [7]:
df.shape

(39774, 3)

In [8]:
df.isnull().sum()

id             0
cuisine        0
ingredients    0
dtype: int64

In [10]:
df.isnull().sum().sum()

np.int64(0)

In [12]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [13]:
df.describe()

                 id
count  39774.000000
mean   24849.536959
std    14360.035505
min        0.000000
25%    12398.250000
50%    24887.000000
75%    37328.500000
max    49717.000000

In [15]:
df.rename(columns={'ingredients':'INGREDIENTS'})

          id      cuisine                                        INGREDIENTS
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [17]:
df.columns

Index(['id', 'cuisine', 'ingredients'], dtype='str')

In [19]:
df['cuisine'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
39769    False
39770    False
39771    False
39772    False
39773    False
Name: cuisine, Length: 39774, dtype: bool

In [20]:
df['cuisine'].isna().sum()

np.int64(0)

In [21]:
df['id'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
39769    False
39770    False
39771    False
39772    False
39773    False
Name: id, Length: 39774, dtype: bool

In [22]:
df['id'].isna().sum()

np.int64(0)

In [26]:
df.index.name = "sr_no"

In [27]:
df

          id      cuisine                                        ingredients
sr_no
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [29]:
df.sample(5)

          id     cuisine                                        ingredients
sr_no
37985  49248  vietnamese  [egg roll wrappers, garlic, pork, sesame oil, ...
28081  22191  vietnamese  [olive oil, green onions, cucumber, medium shr...
27766  41337      indian  [garam masala, garlic, gram flour, water, chil...
33943   3509     italian  [dry white wine, salt, black pepper, butter, f...
36318  37097  vietnamese  [kosher salt, vegetable oil, roasted peanuts, ...

In [30]:
df['cuisine']

sr_no
0              greek
1        southern_us
2           filipino
3             indian
4             indian
            ...
39769          irish
39770        italian
39771          irish
39772        chinese
39773        mexican
Name: cuisine, Length: 39774, dtype: str

In [31]:
df.drop(['ingredients'],axis=1)

          id      cuisine
sr_no
0      10259        greek
1      25693  southern_us
2      20130     filipino
3      22213       indian
4      13162       indian
...      ...          ...
39769  29109        irish
39770  11462      italian
39771   2238        irish
39772  41882      chinese
39773   2362      mexican

[39774 rows x 2 columns]

In [32]:
df.dropna()

          id      cuisine                                        ingredients
sr_no
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]